// colors

$main-text: $text-color; // main text
$link: $link-color; // anchor tags
$background: $background-color; // body background color

$color-1: $text-color;
$color-2: $darker-gray;
$color-3: $lighter-gray;

// fonts

$primary-font: $global-font-family;
$secondary-font: $caption-font-family;
