<div class="feature__wrapper">
  <center>
    <h1 id="experiences">My experiences</h1>
  </center>

  <script src="/assets/js/modernizr.js"></script> <!-- Modernizr -->

  <section id="cd-timeline" class="cd-container">
    {% for experience in site.data.experiences %}

    <!-- Sanitize timeline icon image url -->
    {% if experience.timeline_icon_url contains "://" %}
      {% capture timeline_icon_img %}{{ experience.timeline_icon_url }}{% endcapture %}
    {% else %}
      {% capture timeline_icon_img %}{{ experience.timeline_icon_url | absolute_url }}{% endcapture %}
    {% endif %}

    <!-- Sanitize company logo image url -->
    {% if experience.company_logo_url contains "://" %}
      {% capture company_logo_img %}{{ experience.company_logo_url }}{% endcapture %}
    {% else %}
      {% capture company_logo_img %}{{ experience.company_logo_url | absolute_url }}{% endcapture %}
    {% endif %}

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-color-2">
        {% if timeline_icon_img %}<img src="{{ timeline_icon_img }}" />{% endif %}
      </div>
      <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <div style="float: right; margin-left: 10px; text-align: right;">
          {% if company_logo_img %}
            <img src="{{ company_logo_img }}" style="max-width: 150px; max-height: 90px; width: auto; height: auto;"/>
            <br/>
          {% endif %}
          {% if experience.company_location %}
            <h4 style="margin-top: 0; text-align: right; font-size: medium;">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{ experience.company_location }}
            </h4>
          {% endif %}
        </div>
        <h3>
          {{ experience.position }}
        </h3>
        <h4>
          {% if experience.company_website_url %}
            <a href="{{ experience.company_website_url}}" style="color: inherit; text-decoration: inherit;">{{ experience.company_name }}</a>
          {% else %}
            {{ experience.company_name }}
          {% endif %}
        </h4>
        <p>{{ experience.short_summary | markdownify }}</p>
        {% if experience.detailed_summary %}
          <!-- TODO: Magnific popup with content -->
          <a href="#0" class="btn btn--primary">Read more</a>
        {% endif %}
        <span class="cd-date">{{ experience.start_date }} - {{ experience.end_date }}</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    {% endfor %}
  </section> <!-- cd-timeline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/assets/js/vertical-timeline.js"></script> <!-- Resource jQuery -->
</div>
