.layout--resume {
	@import "vertical-timeline"; // Integrated vertical-timeline js plugin scss file to share theme variables

	.feature__item{
		&--left {
			.date {
				display: block;
				margin-top: 0;
				font-size: 1rem;
				color: $text-color;
				opacity: .7;
			}

			h2 {
				margin-top: 0;
			}
			
			img {
				margin-top: 1.5em;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 70%;
				height: 70%;
			}
		}

		&--right {
			.date {
				display: block;
				margin-top: 0;
				font-size: 1rem;
				color: $text-color;
				opacity: .7;
			}

			h2 {
				margin-top: 0;
			}
			
			img {
				margin-top: 1.5em;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 70%;
				height: 70%;
			}
		}
	}

	@media only screen and (min-width: 768px) {
		.feature__item{
			&--left {
				.date {
					float: right;
					margin-top: 1.7em;
				}

				h2 {
					margin-top: 1em;
				}

				img {
					float: right;
				}
			}

			&--right {
				.date {
					float: left;
					margin-top: 1.7em;
				}

				h2 {
					margin-top: 1em;
				}

				img {
					float: left;
				}
			}
		}
	}

	@keyframes slide {
		0% {
			visibility: visible;
			opacity: 0;
			-webkit-transform: translateX(1000px);
			transform: translateX(1000px);
		}
		30% {
			opacity: 1;
		}
		60% {
			-webkit-transform: translateX(-20px);
			transform: translateX(-20px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			visibility: visible;
		}
	}

	.resume-skill-badge {
		display: inline-block;
		margin-bottom: 0.25em;
		padding: 0.5em 1em;
		font-family: $sans-serif;
		font-size: $type-size-6;
		text-align: center;
		text-decoration: none;
		border-width: 0;
		border-radius: $border-radius;
		background-color: $lighter-gray;
	}

	@media only screen and (min-width: 768px) {
		.resume-skill-badge {
			&--slide-in {
				// margin-left: 20px;
				animation: slide 1s;
				animation-fill-mode: forwards;
			}
		}

		@for $i from 1 through 50 {
			.resume-skill-badge {
				&--slide-in {
					visibility: hidden;
					&:nth-child(#{$i}) {
						animation-delay: ($i - 1) * 0.3s;
					}
				}
			}
		}
	}
	
	.resume-contact {
		color: $dark-gray;
		padding-bottom: 1em;
	}

	hr.resume-contact-line{ 
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($text-color, 0.7), rgba(0, 0, 0, 0));
	}
}