{% if page.degrees %}
  <div class="feature__wrapper">
    <center>
      <h1><i class="fas fa-graduation-cap"></i> My education</h1>
    </center>
    {% assign count = 0 %}
    {% for degree in page.degrees %}

      <!-- Sanitize school logo url -->
      {% if degree.school_logo_url contains "://" %}
        {% capture school_logo_img %}{{ degree.school_logo_url }}{% endcapture %}
      {% else %}
        {% capture school_logo_img %}{{ degree.school_logo_url | absolute_url }}{% endcapture %}
      {% endif %}

      {% assign pair = count | modulo : 2 %}

      <div class="feature__item{% if pair == 0 %}--left{% else %}--right{% endif %}">
        <div class="archive__item">
          {% if degree.school_logo_url %}
            <div class="archive__item-teaser">
              {% if degree.school_website_url %}
                <a href="{{ degree.school_website_url }}">
                  <img src=
                  {% if degree.logo contains "://" %}
                    "{{ school_logo_img }}"
                  {% else %}
                    "{{ school_logo_img | absolute_url }}"
                  {% endif %} />
                </a>
              {% else %}
                <img src=
                {% if degree.logo contains "://" %}
                  "{{ school_logo_img }}"
                {% else %}
                  "{{ school_logo_img | absolute_url }}"
                {% endif %} />
              {% endif %}
            </div>
          {% endif %}

          <div class="archive__item-body">
              <span class="date">{{ degree.start_date}} - {{ degree.end_date}}</span>
              <h2 class="archive__item-title">{{ degree.degree }}</h2>
              {% if degree.school_website_url %}
                <a href="{{ degree.school_website_url }}" style="color: inherit; text-decoration: inherit;">
                  <h3 style="margin-top: 0;">{{ degree.school_name }}</h3>
                </a>
              {% else %}
                <h3 style="margin-top: 0;">{{ degree.school_name }}</h3>
              {% endif %}
              <h4 style="margin-top: 0; font-size: medium;">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ degree.school_location }}
              </h4>
              <div class="archive__item-excerpt">
                {{ degree.summary | markdownify }}
              </div>
          </div>
        </div>
        <br/  >
      </div>
      {% assign count = count | plus: 1 %}
    {% endfor %}
  </div>
{% endif %}