{% if page.skills %}
  <div class="feature__wrapper" style="margin-bottom: 0; border-bottom: 0;">
    <center>
      <h1><i class="fas fa-wrench"></i> My skills</h1>
    </center>

    {% for skill in page.skills %}
      <h3 style="margin: 0.5em 0 0.5em;">{{ skill.name }}</h3>
      {% for keyword in skill.keywords %}
        {% if skill.color %}
          <span class="resume-skill-badge" style="background-color: {{ skill.color }}; color: white;">{{ keyword }}</span>
        {% else %}
          <span class="resume-skill-badge">{{ keyword }}</span>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}